.container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.logoSisagri {
  height: 214px;
  margin: 67.5px 0 0 125px;

  img {
    height: 184px;
  }
}

.formContainer {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.6));

  position: absolute;
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 575px;

  right: 0;

  margin: 7.5rem 10.625rem;

  background: #ffffff;
  border-radius: 8px;

  align-items: center;

  h1 {
    margin: 3rem 0 0 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;

    letter-spacing: -0.5px;

    /* On Surface / Dark / High-emphasis */

    color: rgba(24, 24, 25, 0.9);
  }

  input {
    width: 335px;
    margin-top: 1.5rem;
    box-sizing: border-box;

    border: 2px solid #dbdbdb;
    border-radius: 10px;
    height: 45px;

    padding-left: 45px;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #888888;

    background-position: center left 12.5px, center right 12.5px;
  }

  input:first-of-type {
    margin-top: 3.25rem;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 149px;
    gap: 4px;
    height: 48px;
    padding: 11px 149px;

    background: #1a877f;
    border-radius: 4px;

    border: none;

    p {
      width: 42px;
      height: 22px;

      font-family: "Poppins";
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */

      letter-spacing: -0.4px;

      color: #ffffff;
    }
  }
}

.empresaInput {
  background: url("../../assets/empresa.svg") no-repeat scroll 7px 7px;
}

.usuarioInput {
  background: url("../../assets/usuario.svg") no-repeat scroll 7px 7px;
}

.senhaInput {
  background: url("../../assets/senha.svg") no-repeat scroll 7px 7px,
    url("../../assets/eyeLock.svg") no-repeat scroll 7px 7px;
}

.passwordRecovery {
  margin: 1.5rem 0;
  width: 100%;
  text-align: right;

  a {
    margin: 0 8%;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    letter-spacing: -0.5px;

    color: #1a877f;

    text-decoration: none;
  }
}

.formFooter {
  margin: 1.5rem 0 3.5rem;
  height: 54px;
  text-align: center;
  font-size: 18px;
  line-height: 27px;

  color: #5f5f5f;

  font-weight: 300;
  a {
    font-weight: 500;
    text-decoration: none;
    color: #1a877f;
  }
}

.description {
  position: absolute;
  flex-direction: column;
  width: auto;

  margin: 350px 0 0 100px;

  color: #ffffff;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 57px;
    margin-bottom: 0;
  }

  p {
    font-size: 24px;
    line-height: 36px;
  }

  div {
    height: 53px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
  }
}
